.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 10px;
  height: 10px;
  background-color: white;
}

.hover {
  background-color: black;
}
